<!doctype html>
<html>
{% load static %}
{% include "common/head.html" %}
<style>
    .content-main {
        box-shadow: 5px 5px 3px #DBDBD9;
        height: 350px;
        background-color: #ffffff;
        filter: alpha(opacity=30);
        opacity: .9;
        border-radius: 10px;
    }
</style>

<body>
    <div style="width: 100%;height: 100%;">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <div style="margin-left:60%;width: 450px;">
            <div align="center" class="content-main">
                <br /><br />
                <h5>
                    <img alt="" src="{% static 'img/logo.png' %}" width="50px">
                    {{ webtitle }}_注册
                </h5>
                <br />
                <form style="width:350px;text-align: left;height: 550px;" method="post" action="/actionr/">
                    <div class="form-group">
                        <label for="exampleInputEmail1">请输入管理员账号</label>
                        <input type="text" class="form-control" name="name">
                        <label for="exampleInputEmail1">请输入管理员密码</label>
                        <input type="password" class="form-control" name="pwd">
                        {% csrf_token %}
                    </div>
                    <br />
                    <button type="submit" class="btn btn-success">注册</button>
                    <a href="/"><b>点我返回登录</b></a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>