<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="activecourse" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加设备信息</h4>
            </div>
            <form method="post" action="/adddetail/">
                <div class="modal-body">
                    <input type="hidden" class="form-control" name="title" value="{{dtitle}}" />
                    <label>设备ID</label>
                    <input type="text" class="form-control" name="did" />
                    <label>生产厂家</label>
                    <input type="text" class="form-control" name="company" />
                    <label>技术参数</label>
                    <input type="text" class="form-control" name="paramter" />
                    <label>生产日期</label>
                    <input type="datetime-local" class="form-control" name="add_time" />
                    <br />
                    <button class="btn btn-success" type="submit">保存</button>
                </div>
            </form>
        </div>
    </div>
</div>