{% macro head() %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->
<!-- Custom styles for this template -->
<link href="/static/css/jumbotron.css" rel="stylesheet">
<link href="/static/css/datatables.min.css" rel="stylesheet">
<link href="/static/css/jquery.eeyellow.Timeline.css" rel="stylesheet">
<link href="/static/css/animate.min.css" rel="stylesheet">
{% endmacro %}
{% macro endjs() %}
<script src="/static/js/jquery-3.2.1.min.js"></script>
<!-- <script src="/static/js/popper.min.js"></script> -->
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/datatables.min.js"></script>
<script src="/static/js/moment.js"></script>
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/jquery.eeyellow.Timeline.js"></script>
<script src="/static/js/palette.js"></script>
{% endmacro %}
{% macro nav() %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">首页</a>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">基础展示
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="topic-index">话题</a>
                    </li>
                    <li>
                        <a href="post-index">评文</a>
                    </li>
                    <li>
                        <a href="/user-index">参与者</a>
                    </li>
                 </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">事件追踪
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/event-index">事件</a>
                    </li>
                    <li>
                        <a href="/event-trace-index">事件过程追踪</a>
                    </li>
                 </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">舆情预警
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/event-popularity-predict-index">流行度预测</a>
                    </li>
                    <li>
                        <a href="#">信息溯源</a>
                    </li>
                 </ul>
            </div>
        </div>
    </div>
</nav>
{% endmacro %}
{% macro maketimeline(timeline) %}
<div class="VivaTimeline">
    <dl>
        {% set cnt = [0] %}
        {% for t in timeline %}
        <dt>{{t[0]}}</dt>
            {% for p in t[1] %}
            {% if cnt[0]%2 == 0 %}
            <dd class="pos-left clearfix">
            {% else %}
            <dd class="pos-right clearfix">
            {% endif %}
                <div class="circ"></div>
                <div class="time">{{p.post_datetime.strftime('%Y/%m/%d %X')}}</div>
                <div class="events">
                    <div class="events-header">{{p.author.name}}-{{p.platform}}-{{p.title|default('无标题',true)}}</div>
                    <div class="events-body" >
                        <div class="row">
                             <div class="events-desc">{{p.content[:300]|safe}}<div class="pull-right"><a class="" href="/post-detail/{{p.id}}"><span class="glyphicon glyphicon-chevron-right"></span></a></div></div>
                        </div>
                    </div>
                    <div class="events-footer"></div>
                </div> <!-- end of events -->
            </dd>
            {% if cnt.append(cnt.pop() + 1) %}{% endif %} 
            {% endfor %}
        {% endfor %}
    </dl>
</div>

{% endmacro %}
